body {
  font-family:Helvetica,Arial,sans-serif;
  background-color:#D7CDA8;
  color:#585858;
  }
#Info{
text-align:center;
margin-top:0;
}
#Lucas_Header{
  font-size:200%;
  font-style:italic;
  font-weight:bold;
  margin-bottom:0;
  }
.Section_Heading{
  font-size:100%;
  font-style:italic;
  font-weight:bold;
  margin-bottom:0;
  text-decoration:underline;
  }
  .Section_Subheading{
  font-size:100%;
  font-style:italic;
  font-weight:bold;
  margin-bottom:0;
  margin-top0;
  }
  #Skills{
  margin-left:40px;
  }
  .Work_Heading{
   font-size:100%;
   text-decoration:underline;
   font-weight:normal;
   }